// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    width: 100vw;
    height: 100vh;
}

#header {
    background: #373C42;
}

#header-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header-user-profile-image {
    width: 2rem;
    height: 2rem;
}

.fill {
    flex: 1 1 100%;
}

.link {
    color: rgb(64, 137, 242);
}

.link:hover {
    color: rgb(74, 147, 252);
    cursor: pointer;
    text-decoration: underline;
}

.border-collapse {
    border-collapse: collapse;
}

.bg-d2 {
    background: rgb(96, 102, 109);
}

.bg-d3 {
    background: rgb(86, 92, 99);
}

.resize-none {
    resize: none;
}
