// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    width: 100vw;
    height: 100vh;
}

#header {
    background: #373C42;
    height: 8%;
}

#header-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header-user-profile-image {
    width: 2rem;
    height: 2rem;
}

#header-separator {
    width: 0.1rem;
    height: 100%;
    margin: 0 0.7rem;
    background: rgb(200, 200, 200);
}

#app-content {
    height: 92%;
}

.fill {
    flex: 1 1 100%;
}

.link {
    color: rgb(64, 137, 242);
}

.link:hover {
    color: rgb(74, 147, 252);
    cursor: pointer;
    text-decoration: underline;
}

.border-collapse {
    border-collapse: collapse;
}

.bg-d2 {
    background: rgb(96, 102, 109);
}

.bg-d3 {
    background: rgb(86, 92, 99);
}

.resize-none {
    resize: none;
}

.w-0 {
    width: 0;
}

.w-1 {
    width: 0.25rem;
}

.w-2 {
    width: 0.5rem;
}

.w-3 {
    width: 1rem;
}

.w-4 {
    width: 1.5rem;
}

.w-5 {
    width: 3rem;
}

.h-0 {
    height: 0;
}

.h-1 {
    height: 0.25rem;
}

.h-2 {
    height: 0.5rem;
}

.h-3 {
    height: 1rem;
}

.h-4 {
    height: 1.5rem;
}

.h-5 {
    height: 3rem;
}

.fs-0 {
    font-size: 0rem;
}

.fs-1 {
    font-size: 0.25rem;
}

.fs-2 {
    font-size: 0.5rem;
}

.fs-3 {
    font-size: 1rem;
}

.fs-4 {
    font-size: 1.5rem;
}

.fs-5 {
    font-size: 3rem;
}

.table th,
.table td {
    padding: 1rem;
}

.border-table th,
.border-table td {
    border: 1px solid lightgray;
}

[v-cloak] {
    display: none;
}
