// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
