.messages {
    height: 90%;
    overflow: scroll;
}

.message-composer {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.message {
    padding: 1rem;
}

.incoming {
    background: lightgray;
    margin-left: auto;
}

.outgoing {
    background: lightblue;
}
