.messages {
    height: 90%;
    overflow: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.message-composer {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.message-composer-menu {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -100%);
    border: 1px solid lightgray;
    margin-left: 0.5rem;
    padding: 0.5rem;
    background: white;
}

.message {
    padding: 1rem;
}

.incoming {
    background: lightgray;
    margin-left: auto;
}

.outgoing {
    background: lightblue;
}
