// $file-creation-view-height: 80vh;
// $file-creation-view-width: $file-creation-view-height;
// $file-creation-view-margin: $file-creation-view-width * 0.01;
// $file-creation-view-component-margin: $file-creation-view-margin;
// $file-creation-view-file-name-width: $file-creation-view-width * 0.5;
// $file-creation-view-button-width: (
//     $file-creation-view-width - $file-creation-view-file-name-width -
//       $file-creation-view-margin * 2 - $file-creation-view-component-margin * 2
//   ) / 2 * 0.8;
// $file-creation-view-item-width: $file-creation-view-width * 0.2;
// $file-creation-view-item-height: $file-creation-view-item-width;

#development {
    height: 100%;
    // overflow: hidden;
}

#development-header {
    height: 5%;
}

#development-body {
    display: flex;
    height: 95%;
}

#file-tree-view {
    width: 20%;
    height: 100%;
}

#file-tree {
    overflow: scroll;
    white-space: nowrap;
    padding-bottom: 16px;
    height: 100%;
}

.file-tree-item {
    padding-left: 16px;
}

#center-view {
    width: 80%;
    height: 100%;
}

#source-code-editor {
    width: 100%;
    height: 60%;
}

#console {
    border: none;
    width: 100%;
    height: 40%;
}

// #file-tree-context-menu,
// #source-code-editor-context-menu {
//   position: absolute;
// }

// .file-creation-view-button {
//   width: $file-creation-view-button-width;
//   margin-left: $file-creation-view-component-margin;
// }

// .file-creation-view-file-item {
//   width: $file-creation-view-item-width;
//   height: $file-creation-view-item-height;
// }

// #file-creation-view-header {
//   height: 8vh;
// }

// #file-creation-view-body {
//   height: 92vh;
// }

// #file-creation-view-file-name {
//   width: $file-creation-view-file-name-width;
// }

// #file-creation-view {
//   width: $file-creation-view-width;
//   height: $file-creation-view-height;
//   padding: 0 $file-creation-view-margin;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

// .source-code-editor-context-menu-button,
// .source-code-editor-context-menu-option-button {
//   display: block;
//   width: 100%;
// }
