$file-creation-view-height: 80vh;
$file-creation-view-width: $file-creation-view-height;
$file-creation-view-margin: $file-creation-view-width * 0.01;
$file-creation-view-component-margin: $file-creation-view-margin;
$file-creation-view-file-name-width: $file-creation-view-width * 0.5;
$file-creation-view-button-width: ($file-creation-view-width - $file-creation-view-file-name-width - $file-creation-view-margin * 2 - $file-creation-view-component-margin * 2) / 2 * 0.8;
$file-creation-view-item-width: $file-creation-view-width * 0.2;
$file-creation-view-item-height: $file-creation-view-item-width;

#header {
    height: 5vh;
}

#body {
    height: 95vh;
}

#file-tree {
    overflow: scroll;
    white-space: nowrap;
    padding-bottom: 16px;
}

#file-creation-view {
    width: $file-creation-view-width;
    height: $file-creation-view-height;
    padding: 0 $file-creation-view-margin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#file-creation-view-header {
    height: 8vh;
}

#file-creation-view-body {
    height: 92vh;
}

#file-creation-view-file-name {
    width: $file-creation-view-file-name-width;
}

#source-code-editor {
    resize: none;
    white-space: nowrap;
}

#file-tree-context-menu, #source-code-editor-context-menu {
    position: absolute;
}

#questions-view {
    overflow: scroll;
}

#description {
    overflow: hidden;
    position: relative;
}

#description-list {
    overflow: scroll;
    height: 80%;
}

#description-tools {
    height: 30%;
}

.file-creation-view-button {
    width: $file-creation-view-button-width;
    margin-left: $file-creation-view-component-margin;
}

.file-creation-view-file-item {
    width: $file-creation-view-item-width;
    height: $file-creation-view-item-height;
}

.file-tree-item {
    padding-left: 16px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.slide-up-enter-active, .slide-up-leave-active {
    transition: transform .5s;
}

.slide-up-enter, .slide-up-leave-to {
    transform: translate(0, 100%);
}