#material-show {
    height: 100%;
}

#material-thumbnail-and-details {
    height: 30%;
}

#material-thumbnail-image {
    width: 30%;
    height: 100%;
    object-fit: contain;
}

#material-price {
    text-align: right;
    font-size: 1.3rem;
}
