.messages {
  height: 90%;
  overflow: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.message-composer {
  height: 10%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 1rem;
}

.message {
  padding: 1rem;
}

.incoming {
  background: lightgray;
  margin-left: auto;
}

.outgoing {
  background: lightblue;
}

