#header {
  height: 5vh;
}

#body {
  height: 95vh;
}

#file-tree {
  overflow: scroll;
  white-space: nowrap;
  padding-bottom: 16px;
}

#file-creation-view {
  width: 80vh;
  height: 80vh;
  padding: 0 0.8vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#file-creation-view-header {
  height: 8vh;
}

#file-creation-view-body {
  height: 92vh;
}

#file-creation-view-file-name {
  width: 40vh;
}

#source-code-editor {
  resize: none;
  white-space: nowrap;
}

#file-tree-context-menu,
#source-code-editor-context-menu {
  position: absolute;
}

#questions-view {
  overflow: scroll;
}

.file-creation-view-button {
  width: 14.72vh;
  margin-left: 0.8vh;
}

.file-creation-view-file-item {
  width: 16vh;
  height: 16vh;
}

.file-tree-item {
  padding-left: 16px;
}

.fade-enter-active,
.fade-enter-leave {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

