#material-show {
  height: 100%;
}

#material-thumbnail-and-details {
  height: 30%;
}

#material-thumbnail-image {
  width: 30%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#material-description {
  font-size: 1.2rem;
}

.lesson-card {
  width: 50%;
}

