@import "../utility/shadow";
@import "../utility/spacing";

#container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: auto;
    @include mt-4;
}

#left-container {
    width: 60%;
    border: 1px solid lightgray;
    @include p-4;
    @include shadow;
}

#right-container {
    width: 30%;
}

#right-container a {
    display: block;
    @include mb-3;
    @include ml-5;
}

#profile {
    width: 100%;
    height: 20%;
    margin: auto;
    display: flex;
}

#profile-header {
    height: 30%;
}

#profile-image-container {
    width: 20%;
}

#profile-buttons-container {
    @include ml-4;
}

#profile-image {
    //display: none;
    width: 100%;
    height: 80%;
    object-fit: contain;
}

#items {
    @include mt-2;
}

#items ul {
    @include mb-3;
}

.profile-button {
    @include ml-5;
}
